body{
    margin: 0px;
}

.div-cabecalho{
    width: 100%;
    height: 9%;
    background-image: url("../images/background.png");
}

.div-logo{
    width: 3%;
    height: 100%;
    padding: 5px 0 0 20px;
    float: left;
}

.div-botoesCentro{
    width: 26%;
    height: 100%;
    padding: 18px 0 0 0;
    margin-left: 34%;
    float: left;
}

.div-botaoLogin{
    width: 4%;
    height: 100%;
    padding: 18px 180px 0 0;
    float: right;
}

.div-carrinho{
    width: 70%;
    margin-left: 15%;
}

.div-cardsVeiculos{
    box-shadow: 0 2px 6px lightgray;
    width: 80%;
    height: 25%;
    float: top;
    margin: 20px;
    background-color: white;
}

.div-imageVeiculo{
    float: left;
    padding: 4px 4px 4px 4px;
    width: 35%;
    height: 100%;
}

.div-imageVeiculo img{
    height: 100%;
    width: 100%;
    float: top;
}

.div-descricaoVeiculo{
    padding-top: 20px;
}

.div-descricaoVeiculo img{
    width: 20%;
    height: 20%;
}

.div-btnComprar{
    margin-top: 3%;
}