*{
    margin: 0;
}

.all{
    background-color: white;
}

.logo{
    width: 45px;
}

.logo:hover{
    cursor: pointer;
}

.navheader{
    width: 100%;
    height: 65px;
    position: absolute;
    margin: 0 auto;
}

.backgroundimg{
    background-image:url("../images/background.png");
    background-position: center center;
    width: 100%;
    height: 700px;
}

.navbar{
    margin: 0 auto;
}