body{
    margin: 0px;
}

.div-cabecalho{
    width: 100%;
    height: 750px;
    background-image: url("../images/background.png");
    background-size: cover;
    position: relative;
}

.div-menu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-menu button{
    margin: 5px;
    cursor: pointer;
}

.div-pesquisa{
    width: 60%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    background-color: blue;
}

.div-dropdown-pesq{
    width: 220px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15%;
    background-color: red;
}

.div-logo{
    left: 10%;
    margin-top: 0.2%;
    position: absolute;
}

.div-logo img{
    cursor: pointer;
}

.div-dropmenu{
    right: 10%;
    position: absolute;
}

.div-dropmenu button{
    cursor: pointer;
}