body{
    margin: 0px;
}

.div-cabecalho{
    width: 100%;
    height: 750px;
    background-image: url("../images/background.png");
    background-size: cover;
    position: relative;
}

.div-menu{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-menu button{
    margin: 5px;
    cursor: pointer;
}

.div-pesquisa{
    width: 60%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    background: rgba(0, 0, 0, 0.2);
}

.div-dropdown-pesq{
    width: 220px;
    height: 40px;
    margin: 0 auto;
    margin-top: 15%;
}

.selectpicker option{
    border: none;
    outline: none;
}

.div-logo{
    left: 10%;
    margin-top: 0.2%;
    position: absolute;
}

.div-logo img{
    cursor: pointer;
}

.div-dropmenu{
    right: 10%;
    position: absolute;
}

.div-dropmenu button{
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30vh;
    grid-template-areas:
            "h h h"
            "m m m"
            "f f f";
}

footer {
    grid-area: f;
}

footer > div:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1;
    align-self: start;
    justify-self: center;
    margin-top: 5%;

}

footer > div:nth-child(2) {
    grid-column: 1/4;
    grid-row: 1;
    align-self: start;
    justify-self: center;
    margin-top: 8%;
}

footer > div:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1;
    margin-top: 15%;
    max-height: 0;
    transform: translate(-30%,0);
}
